@font-face {
  font-family: oneida;
  src: url('../fonts/Blacksword.otf');
}

body {
  color: #332100;
  background-color: #fcd691;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background-image: url('');
  background-repeat: repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}
header {
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0 8px 6px -6px black;
  margin: 0.9em;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
}
.logo {
  width: 36px;
  height: 45px;
  padding: 0 5px;
}
.header>h1 {
  color: #11d6f6;
  text-shadow: -1px -2px 0 rgba(0,0,0,0.6),
             1px 2px 0 rgba(255,255,255,1);
  font-family: 'Garamond Header' ,Palatino, Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  text-align: center;
}
.oneidaName {
  height: 48px;
  display: block;
  width: inherit;
}
/*
main section image presentation of massage
*/
/* ---------------------- slides ----------- */
.slidesBox {
  background: url('../images/slide_1.jpg');
  -moz-background: url('../images/slide_1.jpg');
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  -moz-background-position: center;
  background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  height: 60vh;
  margin-bottom: 1.9em;
}
.slideItem {
  height: inherit;
  display: flex;
  align-items: flex-end;
}
.slides {
  text-align: inherit;
}
.motDevise {
  color: #ffffff;
  font-size:1.6em;
  font-weight: bold;
  margin: 4em 3em;
}
.motDevise>p {
  text-shadow: 1px 1px 2px #000000, 3px 3px 4px #424242;
  margin: 0 auto;
}
.motDevise>p:nth-child(2) {
  margin-left: 2.3em;
}
.oneidaFont {
  color: #10d5f5;
  font-family: oneida;
  font-size: 2.3em;
}
/* ---------------------- galery ----------- */

.card {
  font-style: oblique;
  background-color: #F5F5DC;
  box-shadow: 5px 5px 13px #777722;
  max-width: 70vw;
  margin: 1em auto;
}
.cardLink {
  padding: 2.5em;
}
.cardLink>h2 {
  padding: 0 1em;
}
.contentCard {
  display: flex;
  flex-direction: row;
}
.smallImage {
  width: 300px;
  padding: 1.5em;
}
.mDescript {
  padding: 1em;
}
.mDescript>p {
  margin-top: 0.5em;
}
/*
footer : contact, notifications, rights
*/
/* ---------------------- footer ----------- */
footer {
  box-shadow: 0 8px 6px -6px black;
  background-color: #ffffff;
  margin: 1.9em 0.9em 0.3em;
}
.footerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.toClick {
  border: 1px solid #777722;
  cursor: pointer;
  padding: 5px;
}
.toClick:hover {
  background-color: #777722;
  color: #ffffff;
}
.developerLink {
  font-size: 0.7em;
  margin: 0 3.2em;
}
.developerLink>a {
  color: #000;
  text-decoration: none;
}
.card:hover {
  background-color: #ffffff;
}
.modalClass {
  background-color: rgba(0,0,0,0.6);
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -8px;
  left: -8px;
  margin: 0;
  padding: 0;
}
.itemFlyer {
  width: 80vw;
  margin: auto;
}
.displNon {
  display: none;
}
.displ {
  display: block;
  width: 100%;
}
/*
* ------------ @media queris ------------
*/
@media all and (min-width: 450px) and (max-width: 1024px) {
  .header {
    padding: 0 15px;
  }
  .header>h1 {
    font-size: 1.2em;
    text-align: center;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .motDevise>p {
    max-width: 300px;
  }
  .card {
    max-width: 83vw;
  }
  .contentCard, .footerItems {
    flex-direction: column;
  }
  .cardLink {
    padding: 1.5em;
  }
  .footerItems>* {
    text-align: center;
  }
}
@media all and (min-width: 200px) and (max-width: 450px) {
  .header {
    padding: 0 5px;
  }
  .header>h1 {
    font-size: 0.8em;
    text-align: center;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .motDevise {
    margin: 2em 1em;
    max-width: 200px;
  }
  .motDevise>p {
    max-width: 300px;
    font-size: 0.7em;
  }
  .card {
    max-width: 93vw;
  }
  .contentCard, .footerItems {
    flex-direction: column;
  }
  .cardLink {
    padding: 1em 0;
  }
  .cardLink>h2 {
    margin: 0;
  }
  .smallImage {
    width: inherit;
    padding: 1.5em;
  }
  footer {
    margin: 1.9em 0em 0.3em;
    padding: 1em;
  }
  .footerItems>* {
    text-align: center;
  }
}
